# RabbitMQ
RABBITMQ_USER=eventpulse
RABBITMQ_PASSWORD=your-rabbitmq-password

# MongoDB
MONGO_ROOT_USERNAME=eventpulse
MONGO_ROOT_PASSWORD=your-mongodb-password

# Mongo Express
MONGO_EXPRESS_USERNAME=admin
MONGO_EXPRESS_PASSWORD=your-mongo-express-password

# Process
PROCESS_PORT=3000